ff.coffee.webapp/obj/
packages/
ff.coffee.webapp/bin/
ff.coffee.repository/bin/
ff.coffee.repository/obj/
ff.coffee.webapp.Tests/bin/
ff.coffee.webapp.Tests/obj/
ff.coffee.webapp/App_Data/aspnet-ff.coffee.webapp-20150614164945.mdf
ff.coffee.webapp/App_Data/aspnet-ff.coffee.webapp-20150614164945_log.ldf
SmokeTestFunction/bin/
SmokeTestFunction/obj/
.nuget/
ff.coffee.webapp.v12.suo
ff.coffee.webapp/ff.coffee.webapp.csproj.user
ff.coffee.webapp/Web.config
ff.coffee.repository/App.config
ff.coffee.webapp/Properties/PublishProfiles/
ff.coffee.repository/CustomConnectionString.config
ff.coffee.webapp.Tests/CustomConnectionString.config
ff.coffee.webapp/CustomConnectionString.config
orderonline.rar
